# Created by venv; see https://docs.python.org/3/library/venv.html
#*
# PyCharm / JetBrains local project configuration
#.idea/

# Virtuální Python prostředí
.venv/
venv/
env/

# PyCharm
.idea/
*.iml

# Python cache
__pycache__/
*.py[cod]

# Testy, coverage a logy
.pytest_cache/
.coverage
htmlcov/
*.log

# Citlivá lokální konfigurace
.env
.env.*
!.env.example

# Windows
Thumbs.db
Desktop.ini